.sunset-horizon-wrapper {
    width: 800px;
    height: 200px;

    position: relative;
}

#sun {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid whitesmoke;

    position: absolute;
    top: 0;
    left: 80px;
}


#horizon {
    width: 100%;
    height: 16px;
    background-color: #151515;

    position: absolute;
    top: 140px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#horizon > div {
    background-color: whitesmoke;
    height: 2px;
    width: 100%;
}
