.barcode-wrapper {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.bar {
    width: 4px;
    height: 100px;
    background-color: whitesmoke;
}

.bar-code {
    letter-spacing: 30px;
    transform: translateX(15px);
}
