@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.circles-wrapper {
    height: 500px;
    width: 500px;

    position: relative;
}

.circles-wrapper > h1 {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 44px;

    position: absolute;
    bottom: -70px;
    width: 100%;
    text-align: center;
    opacity: 0;
}

.circle {
    width: 500px;
    height: 500px;
    border: 1px solid whitesmoke;
    border-radius: 50%;

    position: absolute;
    bottom: 0;
}