@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.circles-wrapper {
    height: 500px;
    width: 500px;

    position: relative;
}


.circle {
    width: 500px;
    height: 500px;
    border: 1px solid whitesmoke;
    border-radius: 50%;

    position: absolute;
    bottom: 0;
}